@font-face {
  font-family: blocky;
  src: url(../fonts/blocky.ttf);
}@font-face {
  font-family: mono;
  src: url(../fonts/mono.otf);
}

::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: white;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
